@tailwind preflight;

.holder {
  display: grid;
  /* grid-gap: 5px; */
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1 1 1 1;
  grid-template-areas:
    "l l m m"
    "h h h h"
    "c c c c"
    "f f f f";
}

.bg-container {
  background-image: linear-gradient(
    to right bottom,
    #4e4e49,
    #3d3d39,
    #2e2e2b,
    #1f1f1c,
    #0f0f0d
  );
}

.hero {
  grid-area: h;
}

.menu1 {
  grid-area: m;
  /* background: #0d3976; */
  @apply p-2;
}
.content1 {
  grid-area: c;
  /* background: #92e4ee; */
  @apply bg-white;
}
.footer1 {
  grid-area: f;
  /* background: #0d3976; */
  @apply p-2 bg-grey-dark;
}

.logo {
  grid-area: l;
  @apply p-2;
}

@media screen and (max-width: 640px) {
  .holder {
    grid-template-areas:
      "l m m m"
      "h h h h"
      "c c c c"
      "f f f f";
  }
}

.rotate {
  transform: rotate(-4deg);
}

.shadow1 {
  text-shadow: 3px 3px rgb(221, 137, 69);
}

@tailwind components;
@tailwind utilities;
