@tailwind preflight;

.topbar {
  @apply .p-3;
}

.footer {
  @apply .p-3 .bg-blue-darker;
}

.header {
  @apply .text-xl .font-bold .italic .text-blue-darker;
  text-transform: uppercase;
}

.menu {
  @apply .font-bold .text-lg .mb-1;
}

a {
  text-decoration: none;
  @apply .text-blue-darker;
}

a:hover {
  @apply .text-blue;
}

.bodytext {
  @apply .font-light .text-grey-darkest .leading-normal .tracking-normal;
}

.maintext {
  @apply .font-light .text-grey-darkest .leading-loose .tracking-normal .text-lg .text-center;
}

.heroimg {
  background-image: linear-gradient(
      to right,
      rgb(64, 64, 64, 0),
      rgb(64, 64, 64, 0)
    ),
    url(bg3.jpg);
  background-position: 50%;
}

.btntext-quote {
  @apply .tracking-wide .text-center .font-light .text-white .text-xl;
}

.btntext-services {
  @apply .tracking-wide .text-center .font-light .text-white text-xl;
}

.button-quote {
  @apply .rounded-full .px-16 .py-2 .border-transparent .bg-red-darkest .opacity-75;
}

.button-services {
  @apply .rounded-full .px-16 .py-2 .border .border-white .opacity-75;
}

.button-quote:hover {
  @apply .border-black .bg-white .text-black .font-normal;
}

.button-services:hover {
  @apply .border-transparent .bg-red-darkest .text-white .font-normal;
}

@tailwind components;
@tailwind utilities;
